@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .circle {
    @apply absolute top-0 left-0
           w-[70vw] max-w-[700px]
           aspect-square rounded-full
           opacity-60 blur-[60px]
           animate-[floatTilt_10s_ease-in-out_infinite_alternate]
           -z-10;

    background: radial-gradient(circle, #f1f5f9 0%, #d1d5db 50%, #9ca3af 100%);
  }

  .dark .circle {
    background: radial-gradient(circle, #475569 0%, #64748b 40%, #94a3b8 100%);
  }
}

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
